/* Error: It's not clear which file to import. Found:
 *   resources/sass/_variables.scss
 *   resources/sass/variables.scss
 *   ,
 * 2 | @import "./variables";  // Si ce fichier est dans le même dossier
 *   |         ^^^^^^^^^^^^^
 *   '
 *   resources/sass/app.scss 2:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: It's not clear which file to import. Found:\a   resources/sass/_variables.scss\a   resources/sass/variables.scss\a   \2577 \a 2 \2502  @import \"./variables\";  // Si ce fichier est dans le m\ea me dossier\a   \2502          ^^^^^^^^^^^^^\a   \2575 \a   resources/sass/app.scss 2:9  root stylesheet";
}
